body {
  background-image: url("../images/andys_room.jpg");
  background-size: cover;
  width: 100%;
  font-family: 'Luckiest Guy', cursive;
  color: #005194;
}

#title {
  text-align: center;
  font-size: 150px;
}

#startPage {
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
  padding-top: 28px;
  height: 50px;
  width: 200px;
  font-size: 30px;
}

#game {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  width: 70%;
  text-align: center;
  font-size: 25px;
}

p {
  padding: 23px 15px 18px 15px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: max-content;
  min-width: 200px;
}

#qstn p:hover {
  padding-bottom: 14px;
  padding-top: 19px;
}

#result {
  margin-top: 32.35px;
}

.box {
  cursor: pointer;
  border: solid;
  border-color: #005194;
  background-color: #FFD900;
  border-width: 4px;
}

#playAgain {
  width: 200px;
  margin: auto;
  padding: 23px 15px 18px 15px;
}

.imgsize {
  max-height: 300px;
  display: block;
  margin: auto;
  margin-top: 15px;
}
