body {
  background-image: url("../images/andys_room.jpg");
  background-size: cover;
  width: 100%;
  font-family: 'Luckiest Guy', cursive;

}

#title {
  text-align: center;
  font-size: 150px;
}

#startPage {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#start {
  margin-top: 150px;
  height: 50px;
  width: 100px;
}

#game {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  width: 70%;
  text-align: center;
  font-size: 25px;
}

p {
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}
p:hover {
  border: solid;
  background-color: white;
}
